#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("/img/gif/126.gif") no-repeat center center rgba(0,0,0,0.25);
    background-color: #fff;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.logo img{
    margin: 10px 30px;
    height: 80px;
}
.logo{
    float: left;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.my-name {
    position: relative;
    top: 35px;
    right: 20px;
    color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

header{
    position: fixed;
    width: 100%;
    height: 100px;
    background: #262626;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8); 
    z-index: 1;
}
nav {
    margin: 5px 0;
    padding: 10px 70px;
    float: right;
}

nav ul {
    position: relative;
    bottom: 25px;
    display: flex;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

header nav ul li {
    list-style: none;
}

nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0px 10px;
    color: #2196f3;
    text-decoration: none;
    display: block;
}

nav ul li a:hover,
nav ul li.active a{
    border-radius: 4px;
    color: #fff;
    background: #2196f3;
    text-decoration: none;
}

.menu-toggle{
    color: #2196f3;
    float: right;
    line-height: 100px;
    font-size: 24px;
    cursor: pointer;
    display: none;

}

@media(max-width: 991px){
    .menu-toggle{
        position: relative;
        bottom: 47px;
        right: 50px;
        display: block;
    }
    nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 95px;
        left: -100%;
        transition: 0.5s;
    }
    nav.active{
        left: 0;
    }
    nav ul{
        position: relative;
        top: 5px;
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
    .menu-toggle{
        position: relative;
        right: 15px;
    }
} /* End of navigation bar style */

/* Start of the first section to style */
#firstSection{
    height: 100vh;
    width: 100%;
    background-image: url("../img/headingLogo/headerImages.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
}

.wrap-all-the-section{
    margin: auto;
}

.center-me{
    color: #f7f7f7;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6em;
}

.center-me h1{
    position: relative;
    animation: fade-to-right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes fade-to-right{
    0%{
        top: -1000px;
    }
    100%{
        top: 0;
    }
}

.center-me h2{
    position: relative;
    opacity: 0;
    animation: center-fade;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

}
@keyframes center-fade{
    0%{
        left: -1000px;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}

.center-me p{
    position: relative;
    opacity: 0;
    animation: fade-in;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.logo-animation img{
    height: 50px;
}

.logo-animation{
    opacity: 0;
    animation: move 2s infinite alternate;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes move{
    0%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 1;
        transform: translateY(20px);
    }
}
@media (max-width: 792px){
    .center-me{
        font-size: 15px;
        line-height: 1.6em;
    }
}
/* end of the style of first sectio */


/* start of the myArticle style */
.about-me{
    padding-top: 10px;
    text-align: center;
}

.about-me .fa{
    padding: 25px;
    border-radius: 50%;
    background-color: #2196f3;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

#about{
    display: block;
}

@media(min-width: 1055px){
    .wrapper-all-the-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        text-align: center;
        margin-top: 20px;
    }
}

.about{
    margin-top: 20px;
}

.about.parag {
    text-align: left;
    line-height: 23px;
    font-size: 15px;
    margin-top: 15px;
    /* position: relative;
    top: 0;
    left: 40px; */
    font-family: 'Montserrat', sans-serif;
}

.experience{
    border: 1px solid #2196f3;
    margin-top: 1px;
    margin-bottom: 30px;
    width: 40%;
    height: auto;
    margin-left: 100px;
    padding-top: 15px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
    padding: 15px 10px 0;
}

@media(max-width: 1044px){
    .about:nth-child(3){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2px;
    }
    .experience{
        text-align: center;
        margin: 0 5px 15px;
        width: auto;
    }
    .about.parag{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        padding: 15px 30px 0;
    }
    .about{
        text-align: center;
    }
} /* end of the myArticle style */

/* specialties start here */
#specialties{
    background-color: #c0dbf6;
   
}
.mySpecialties{
    padding-top: 10px;
    text-align: center;
}

.mySpecialties .fa{
    padding: 25px;
    border-radius: 50%;
    background-color: #2196f3;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

.mySpecialties h1{
    padding-top: 15px;
}

.wrapp-all-the-specialties{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

.specialties{
    flex: 1;
    text-align: center;
    border: 1px solid #2196f3;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
    margin: 15px;
}

.specialties h4{
    margin-top: 15px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.specialties p {
    padding: 10px 10px 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

@media(min-width: 900px){
    .wrapp-all-the-specialties{
       display: flex;
    }
    .specialties{
        margin: 0 15px;
    }
} 
/* specialties end here */

/* section project portfolio start here */
#portfolio{
    background-color: #DDDDDD;
}
.my-portfolio{
    padding-top: 10px;
    text-align: center;
}

.my-portfolio .fa{
    padding: 25px;
    border-radius: 50%;
    background-color: #2196f3;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}
.my-portfolio h1{
    padding-top: 15px;
}

.company-design{
    width: 100%;
}

.company-finish-product > div{
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
    padding: 20px;
    background-color: #fff;
    
    /* margin-left: 40px; */
    margin-top: 5px;
    margin-bottom: 5px;
}

@media(min-width: 1000px){
    .company-finish-product{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        justify-items: center;
    }
}
.all-logo img{
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}/*end of portfolio */


/*start here for hard skills */
.my-skills{
    padding-top: 10px;
    text-align: center;
}

.my-skills .fa{
    padding: 25px;
    border-radius: 50%;
    background-color: #2196f3;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

.my-skills h1{
   padding-top: 10px;
}
.mySkills{
    margin-top: 40px;
}

@media(min-width: 1024px){
    .skills-wrapp{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }
}

.skills-wrapp{
    text-align: center;
}

.web .chart{
    position: relative;
    right: 15px;
}
.web .percent{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: relative;
    left: 75px;
    bottom: 50px;
}
.percent::after{
    content: '%';
}

.we-1 h5{
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.web-p p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 0 10px 10px;
}

.wed-logo .fa{
    border: 1px solid #262626;
    padding: 10px;
    font-size: 45px;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}
.wed-logo{
    padding-bottom: 15px;
}

.data .chart{
    position: relative;
    right: 15px;
}

.data .percent{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: relative;
    left: 75px;
    bottom: 50px;
}

.data-5 h5{
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.data-p p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 0 10px 10px;
}

.data-logo .fa{
    border: 1px solid #262626;
    padding: 12px;
    font-size: 45px;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
    margin-top: 25px;
}
.cloud .chart{
    position: relative;
    right: 15px;
}

.cloud .percent{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: relative;
    left: 75px;
    bottom: 50px;
}

.cloud-5 h5{
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.cloud-p p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 0 10px 10px;
}

.coud-logo .fa{
    border: 1px solid #262626;
    padding: 10px;
    font-size: 45px;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
    /* position: relative;
    top: 25px; */
}

.DevOps .chart{
    position: relative;
    right: 15px;
}

.DevOps .percent{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: relative;
    left: 75px;
    bottom: 50px;
}

.DevOps-5 h5{
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.DevOps-p p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 0 10px 10px;
}

.DevOps-logo .fa{
    border: 1px solid #262626;
    padding: 10px;
    font-size: 45px;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
    /* position: relative;
    top: 25px; */
}

@media(max-width:1024px){
    .we-1 h5{
        margin-top: -10px;
    }
    .web-p p{
        margin-top: -10px;
    }
    .wed-logo{
        margin-top: -15px;
    }

    .data-5 h5{
        margin-top: -10px;
    }
    .data-p p{
        margin-top: -10px;
    }
    .data-logo{
        margin-top: -39px;
    }

    .cloud{
        margin-top: 15px;
    }
    .cloud-5 h5{
        margin-top: -10px;
    }
    .cloud-p p{
        margin-top: -10px;
    }
    .coud-logo{
        margin-top: -18px;
    }

    .DevOps{
        margin-top: 15px;
    }
    .DevOps-5 h5{
        margin-top: -10px;
    }
    .DevOps-p p{
        margin-top: -10px;
    }
    .DevOps-logo{
       margin-bottom: 25px;
       margin-top: -18px;
    }
} /* shard skills end here */




/* smooth scroll to top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* end of scroll to top */

/* MyFooter */
footer {
    background: #262626;
    width: 100%;
    height: 100x;
}

.footlogo img {
   height: 80px;
   margin-top: 15px;
}
.footlogo{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.myfooter-name{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

.myfooter-name p{
    flex: 1;
    color: #fff;
}

.myfooter ul {
    padding-top: 10px;
    list-style: none;
    text-align: center;
}

.myfooter ul li {
    display: inline-flex;
}

.myfooter .fa {
    color: #2196f3;
}

.myfooter a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: #2c3e50;
    color: white;
    margin: 0 5px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 20px;
}

.myfooter a:hover{
    background: white;
    text-decoration: none;
}

.myfooter a:hover > i {
    transform:  scale(1.6) rotate(25deg);
}
@media(max-width: 729px){
    .myfooter-name p{
      font: 10px;
      margin: 0 15px;
    }
}
