body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("/img/gif/126.gif") no-repeat center center rgba(0,0,0,0.25);
    background-color: #fff;
}

/* Start here styling of navagition bar */
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8); 
}

header .logo{
    color: #fff;
    height: 50px;
    line-height: 50px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

header nav{
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active{
    color: #fff;
    background: #2196f3;
}

.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;

}

@media (max-width: 991px){
    header{
        padding:  0 20px;
    }
    .menu-toggle{
        display: block;
    }
    header nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
} /* End of the navagition bar */

/* Start of the first section to style */
#firstSection{
    height: 100vh;
    width: 100%;
    background-image: url("../img/headingLogo/headerImages.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.wrap-all-the-section{
    color: #f7f7f7;
    text-align: center;
    padding-top: 250px;
    margin: 0 auto;
    font-family: 'Tangerine', 'Montserrat', sans-serif;
} /* end of the style of first sectio */

/* start of the myArticle style */

.about-me{
    margin-top: 10px;
    text-align: center;
}

.about-me .fa{
    padding: 25px;
    border-radius: 50%;
    background-color: #2196f3;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

.wrapper-all-the-content{
    margin-top: 10px;
}
@media(min-width: 1055px){
    .wrapper-all-the-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    }
}

.about{
    padding: 10px;

}

.about:nth-child(1){
    text-align: center;
}
.about:nth-child(1) p{
    margin-top: 10px;
    height: 10px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 20x;
}

.about:nth-child(1) .link{
    margin-top: 25px;
}

.about:nth-child(1) a{
    text-decoration: none;
    color: #2196f3;
    border: 1px solid #2196f3;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif; 
    padding: 10px;
    border-radius: 5px;
}

.about:nth-child(2){
    padding: 50px 0;
    color: #252424;
    font-size: 19px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.about:nth-child(3) {
    text-align: center;
    /* padding: 10px; */
    display: grid;
    grid-gap: 10px;
}
.about:nth-child(3) .experience { 
    background-color: #f7f7f7;
    border: 1px solid #2196f3;
    box-sizing: border-box;
    padding: 10px 0px;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}
 
.about:nth-child(3) .number{
    color: #666666;
    padding: 5px;
    font-size: 20px;
}

.about:nth-child(3) .fa{
    font-size: 30px;
}

@media(max-width: 1044px){
    .about:nth-child(3) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
    }
    .about-me{
        display: none;
    }
    .about:nth-child(2){
        padding: 0 40px;
    }
} /* end of the myArticle style */

/* specialties start here */
#specialties{
    padding: 10px;
    background-color: #c0dbf6;
}
.mySpecialties{
    margin-top: 10px;
    text-align: center;
}
.mySpecialties .fa{
    padding: 25px;
    border-radius: 50%;
    background-color: #2196f3;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

.mySpecialties h1{
    padding-top: 15px;
}

.wrapp-all-the-specialties{
    /* max-width: 1400px; */
    margin: 30px 50px 0 50px;
    /* margin: 40px auto 0 auto; */
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

.specialties{
    flex: 1;
    block-size: border-box;
    text-align: center;
}    

.specialties h4{
    margin-top: 15px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.specialties .services-box-icon .fa{
    border: 1px solid #2196f3;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgba(104,104,104,0.8);
}
.specialties .services-box-icon{
    padding: 10px;
}

.specialties p {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

 @media(min-width: 900px){
    .wrapp-all-the-specialties{
       display: flex;
       justify-content: space-between;
    }
 }

 .prog-logo {
     margin: 50px auto 0;
 }
 .all-logo img{
    height: 90px;
    padding: 15px;
 }
/* smooth scroll to top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    /* display: none; */
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* end of scroll to top */
